body {
  background-color: $background_color_glay_white;
}
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  height: $header_height;
  background: $background_black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    @include set_a_color($font_color_white);
  }

  h1 {
    margin: 0 15px;
    font-size: $font_size_l;
  }

  ul {
    @include reset_ul();
    margin: 0 15px;
  }
}
footer {
  background: $background_color_glay;
  font-size: $font_size_xs;
  padding: 15px;
  color: $font_color_white;
  text-align: center;

  ul {
    @include reset_ul();
    li {
      display: inline-block;
      font-size: $font_size_xs;

      a {
        @include set_a_color($font_color_white);
      }
    }
  }
}

.xbody {
  padding-top: $header_height;

  .xpage_loading {

  }
  .xside {
    padding: 15px;
    background: $background_color_white;

    ul {
      @include reset_ul();

      li {
        a {
          @include set_a_color($font_color);

          &.xcurrent {
            font-weight: $font_weight_strong;
          }
        }
      }
    }
  }
  .xmain {
    padding: 15px;

    h2 {
      margin: 0 0 15px;
      font-size: $font_size_xxl;
    }
  }
}

.xform {
  .xrow {
    margin-bottom: 10px;
  }
  .xsubmit {
    input {
      width: 100%;
    }
  }
}

// サイト一覧
.xsites {
  .xitems {
    @include reset_ul();
    .xitem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background: $background_color_white;
      padding: 5px 10px;
      h2 {
        font-size: $font_size;
        margin: 0;
      }
    }
  }
}

// タグ管理
.xtags {
  .xitems {
    @include reset_ul();
    .xitem {
      padding: 5px;
      display: flex;
      align-items: center;

      .xrow {
        width: 100%;
        padding: 0 5px;
      }
      .xdelete {
        width: 70px;
      }
    }
  }
}

.xvideos {
  .xitems {
    @include reset_ul();
    .xitem {
      padding: 5px 10px;
      display: block;
      h2 {
        font-size: $font_size;
        margin: 0;
      }
    }
  }
}

// サイト内動画管理
.xsite_videos {
  .xtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    h2 {
      margin: 0;
    }
  }
  .xfirst_label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .xitems {
    @include reset_ul();
    .xitem {
      background: $background_color_white;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}
