.xvideos {
  @include reset_ul();

  .xitem {
    display: block;
    background: $background_color_white;
    margin: 0 5px 20px;

    img {
      width: 100%;
    }

    .xtxt {
      padding: 10px;

      h2 {
        @include set_a_color($fc);
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
@media #{$rb_pc} {
  .xvideos {
    display: flex;
    flex-wrap: wrap;

    .xitem {
      width: 265px;

      img {
        width: 265px;
        height: 190px;
      }
    }
  }
}

.xtag {
  display: inline-block;
  margin: 0 6px 6px 0;
  background: $background_color_glay_white;
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 4px;
  @include set_a_color($fc);
}

.xvframe {
  width: 100%;
  height: 350px;
  vertical-align:bottom;
  border: 0;
}
@media #{$rb_pc} {
  .xvframe {
    height: 550px;
  }
}

.xgood_btn {
  display: inline-block;
  padding: 5px;

  img {
    width: 20px;
    height: 20px;
  }

  span {
    font-size: $font_size_xs;
    color: $font_color;
  }
}
