$s_xs: 480px;
$s_sm: 768px;
$rb_sp: 'only screen and (max-width: #{$s_xs})';
$rb_tb: 'only screen and (min-width: #{$s_xs+1}) and (max-width: #{$s_sm})';
$rb_pc: 'only screen and (min-width: #{$s_sm+1})';
// $rb_mintb: "only screen and (max-width: #{$s_sm})";

// ヘッダー高さ
$header_height: 48px;

// PC版の最大幅
$pc_max_width: 1000px;
$min_contents_width: 400px;

// コンテンツパディング
$content_padding: 20px;

$font_color: #333;
$font_color_white: #fff;

$background_color_white: #fff;
$background_color_glay: #9b9b9b;
$background_color_glay_white: #f6f6f6;
$background_color_yellow: #f9f2cc;
$background_color_yellow_white: #fcf8e3;
$background_color_sky_blue: #28B0FF;
$background_red: #ea3049;
$background_green: #31aa43;
$background_black: #1e1e1e;

$border_color_yellow: #efda6f;
$border_color_glay: #dddddd;
$border_color_good_btn: #008adb;
$border_color_comment_text: #f6f6f6;
$border_color_timeline: #dbdbdb;

$rgba_white: rgba(255, 255, 255, 0.2);
$rgba_blue: rgba(2, 117, 216, 0.7);

// カラー2
$bgc: #008adb;
$bgc_tag: #f6f6f6;
$bgc_glay: #dddddd;
$bgc_white: #fff;
$bgc_white_glay: #f6f6f6;
$bgc_black: #333;
$bgc_red: #ea3049;
$bgc_green: #31aa43;
$bgc_yellow: #31aa43;

// フォントカラー
$fc: #333;
$fc_blue: #0275d8;
$fc_white: #fff;
$fc_red: #ea3049;
$fc_green: #31aa43;

$bdc: #dddddd;
$bdc_timeline: #bcbcbc;

// ベースカラー
$bsc_blue: #3d78e5;
$bsc_orange: #fc822a;
$bsc_yellow: #ffcc00;

// フォント
$font_family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
$font_weight: normal;
$font_weight_strong: bold;
$font_size_big_title: 30px;
$font_size_xxxxl: 28px;
$font_size_xxxl: 24px;
$font_size_xxl: 22px;
$font_size_xl: 20px;
$font_size_l: 18px;
$font_size: 15px;
$font_size_s: 14px;
$font_size_xs: 12px;
$font_size_xxs: 10px;

// フォントカラー
$font_color_glay: #a3a3a3;
$font_color_glay_white: #bfbfbf;
$font_color_red: #ef454a;
$font_color_green: #31aa43;
$font_color_yellow: #ffcc00;
$font_color_pink: #ff33cc;

// アイコンカラー
$icon_color_glay_white: #e1e3e8;

// ソーシャルカラー
$color_facebook: #3b5997;
$color_twitter: #41b7d8;
$color_google: #d64937;
$color_rss: #e0812a;
$color_line: #00da00;
$color_pocket: #ee4056;

// 背景
$bgc_glay_white: #edf0f5;
$bgc_dark_glay: #656668;
// $bgc_black: #4B4C4D;
$bgc_blue: #0275d8;
$bgc_sky_blue: #c2e2fe;
$bgc_black: #1e1e1e;
$bgc_wine_red: #990000;

// ライン
$border_glay: #ccc;
$border_glay_white: #bdc8da;

// 行間
$line_height: 1.6;

// input要素高さ
$input_height: 45px;

// 角丸具合
$radius_value: 4px;

// 便利プロパティ
.xsinfo {
  font-size: $font_size_xs;
}
.xdnone {
  display: none;
}
.xerrors {
  color: $font_color_red;
  font-size: $font_size_xs;
}
.xrequired {
  color: $font_color_red;
  margin-left: 2px;

  &:before {
    content: '*';
  }
}
.xnote {
  color: $font_color_green;
  font-size: $font_size_xs;
}
.xendspace {
  height: 18px;
}

// CK専用のカラー設定
mark {
  background-color: transparent !important;

  &.pen-red {
    color: red;
  }
  &.pen-blue {
    color: blue;
  }
  &.marker-yellow {
    background-color: yellow !important;
  }

  strong {
    background: linear-gradient(transparent 70%, yellow 0%);
  }
}

// animation: fade_in .2s linear 0s;
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 関数
@mixin page_padding() {
  padding: 15px 10px 30px;
}
@mixin page_padding_pc() {
  padding: 20px 0 30px;
}
@mixin page_title() {
  margin: 0 0 15px;
  font-size: $font_size_xxl;
}
@mixin reset_ul() {
  margin: 0;
  padding: 0;
  font-size: $font_size;
  list-style: none;

  li {
    font-size: $font_size;
  }
}

@mixin set_a_color($font_color) {
  color: $font_color;
  &:hover,
  &:focus {
    color: $font_color;
  }
}

@mixin x_opacity($val: 0.8) {
  filter: alpha(opacity=$val * 100);
  -moz-opacity: $val;
  opacity: $val;
}

@mixin x_radius($val: 50%) {
  border-radius: $val;
}

@mixin circle_loader_mixin($size: 32px, $color: #fff, $rgba: rgba(255, 255, 255, 0.2)) {
  $border_size: $size*0.22;
  border-radius: 50%;
  width: $size;
  height: $size;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: $border_size solid $rgba;
  border-right: $border_size solid $rgba;
  border-bottom: $border_size solid $rgba;
  border-left: $border_size solid $color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load_circle 1.1s infinite linear;
  animation: load_circle 1.1s infinite linear;

  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

@-webkit-keyframes load_circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load_circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

