html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bgc_white_glay;

  &.xeye {
    header {
      background: none;
    }
    main {
      padding-top: 0;
    }
  }
}
main {
  flex: 1;
  padding-top: $header_height;

  .xcontents {
    .xmain {
      margin-bottom: 15px;
    }
    .xside {
      margin-bottom: 15px;

      section {
        background: $background_color_white;
        padding: 15px;
        margin-bottom: 10px;
      }

      .xt {
        margin-bottom: 5px;
      }

      ul {
        @include reset_ul();

        a {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
}

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  height: $header_height;
  background: $background_color_sky_blue;

  .xinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header_height;
    margin: 0 15px;
  }

  h1 {
    margin: 0;
  }

  .xlogo {
    @include set_a_color($font_color_white);
    font-size: $font_size_xl;
    display: block;
  }
}

.xoverlay {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: $bgc_black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  animation: fade_in 0.1s linear 0s;
}

footer {
  background: $bgc_black;
  font-size: $font_size_xs;
  padding: 15px;
  color: $fc_white;

  a {
    @include set_a_color($fc_white);
    padding: 5px;
  }

  .xrow {
    margin-bottom: 5px;
  }

  ul {
    text-align: center;

    li {
      position: relative;
      display: inline-block;
    }
  }

  .xc {
    text-align: center;
  }
}

@media #{$rb_pc} {
  main {
    .xcontents {
      width: $pc_max_width;
      margin: 0 auto;
      display: flex;

      .xmain {
        flex-grow: 1;
      }
      .xside{
        min-width: 160px;
        margin: 0 0 20px 15px;
      }
    }
  }

  header {
    .xinner {
      position: relative;
      width: $pc_max_width;
      margin: 0 auto;
    }
  }
}
