.xmodal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  width: 90%;
  min-height: 80px;
  padding: 20px 15px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  animation: fade_in 0.1s linear 0s;
}

// .xoverlay {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.8);
// }
