.xpaging {
    text-align: center;
}
.xpagination {
    @include reset_ul();
    font-size: $font_size_xs;
    display: inline-block;
    padding: 0;
    margin: 0;

    %abox {
        display: block;
        padding: 6px 12px;
        margin-left: -1px;
        border: 1px solid $border_glay_white;
    }

    li{
        float: left;

        a{
            @extend %abox;

            &:hover{
                background: $bgc_glay_white;
            }
        }

        &:first-child{
            a{
                margin-left: 0;
                border-radius: 4px 0 0 4px;
            }
            margin-left: 0;
            border-radius: 4px 0 0 4px;
        }
        &:last-child{
            a{
                border-radius: 0 4px 4px 0;
            }
            border-radius: 0 4px 4px 0;
        }
    }

    .xcurrent {
        @extend %abox;
        color: #fff;
        background: $bgc_blue;
    }
}
