<template>
  <div class="ximageupload">
    <div class="xpreview" v-if="defaultImageUrl">
      <img :src="defaultImageUrl" />
      <i v-on:click="_onDelete">×</i>
    </div>
    <image-uploader
      ref="imageUploader"
      :preview="false"
      :maxWidth="maxWidth"
      :maxHeight="maxHeight"
      :quality="quality"
      :autoRotate="false"
      outputFormat="blob"
      accept="image/*"
      doNotResize="['gif', 'svg']"
      @input="setImage"
      @onUpload="startImageResize"
      @onComplete="endImageResize"
    />
  </div>
</template>
<script>
import Vue from 'vue'
import Xaxios from '@class/Xaxios'
import ImageUploader from 'vue-image-upload-resize'

Vue.use(ImageUploader)

export default {
  // name: 'ImageUpload',
  props: {
    success: { type: Function, require: true },
    onDelete: { type: Function, require: true },
    defaultImageUrl: { type: String, default: null },
    maxWidth: { type: Number, default: 1024 },
    maxHeight: { type: Number, default: 1024 },
    quality: { type: Number, default: 0.5 }
  },
  data() {
    return {
      // previewImage: this.defaultImage,
    }
  },
  methods: {
    startImageResize: function (file) {
      // console.log('startImageResize')
      // console.log(file)
    },
    endImageResize: function (file) {
      // console.log('endImageResize')
      // console.log(file)
    },
    setImage: function (file) {
      // const params = { 'userfile': file }
      const success = (data) => {
        this.success(data)
      }
      const error = (res) => {
        console.error(res)
        alert('アップロードに失敗しました')
      }
      Xaxios.postContents('/api/content/image', file, { success, error })
    },
    _onDelete (ev) {
      // TODO: input fileの選択状態を削除
      // const $imageUploader = this.$refs.imageUploader
      // console.log($imageUploader)
      this.onDelete(ev)
    }
  }
}
</script>
<style scoped>
.ximageupload {
  display: flex;
  align-items: flex-end;
}
.xpreview {
  position: relative;
}
.xpreview img {
  width: 100px;
  margin-right: 5px;
}
.xpreview i {
  font-style: normal;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -15px;
  cursor: pointer;
}
>>>.fileinput {
  font-size: 12px;
}
</style>
