<template>
  <InputTag v-model="content" :placeholder="placeholder" :on-change="onChange"></InputTag>
</template>
<script>
import InputTag from 'vue-input-tag'
export default {
  components: { InputTag },
  props: {
    onChange: { type: Function, require: true },
    placeholder: { type: String, default: null },
    default: { type: Array, default: [] }
  },
  data() {
    return {
      content: this.default
    }
  },
  watch: {
    content (val) {
      this.onChange(val)
    }
  }
}
</script>
<style scoped>
.vue-input-tag-wrapper {
  height: 45px;
  padding: 6px;
}
.vue-input-tag-wrapper >>>.input-tag {
  background-color: #c1e8fe;
  border: none;
  font-size: 16px;
}
</style>
