<template>
<div :class="classObj">
  <div class="btn btn-primary xm" v-on:click="_onRelease">公開する</div>
  <div class="btn btn-primary xs" v-on:click="onSubBtn">
    <span>▲</span>
    <div class="xlist" v-if="showList">
      <button v-on:click="_onDraft">下書き</button>
      <button v-if="onLimited" v-on:click="_onLimited">限定公開</button>
      <button v-on:click="_onRelease">公開</button>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props: {
    disabled: { type: Boolean, default: false },
    onDraft: { type: Function, require: true },
    onLimited: { type: Function, require: false },
    onRelease: { type: Function, require: true },
  },
  data() {
    return {
      showList: false
    }
  },
  computed: {
    classObj () {
      return {
        'xmulti_submit': true,
        'xdisabled': this.disabled
      }
    }
  },
  methods: {
    onSubBtn () {
      if (this.disabled) return
      this.showList = !this.showList
    },
    _onDraft () {
      if (this.disabled) return
      this.onDraft()
      this.showList = false
    },
    _onLimited () {
      if (this.disabled) return
      this.onLimited()
      this.showList = false
    },
    _onRelease () {
      if (this.disabled) return
      this.onRelease()
      this.showList = false
    },
  }
}
</script>
<style scoped>
.xmulti_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.xdisabled {
  opacity: .5;
}
.xm {
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}
.xs {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #007ac1;
  position: relative;
}
button {
  background: none;
  border: none;
  text-align: left;
  color: #333;
  margin: 0 !important;
  display: block;
  padding: 5px;
}
.xlist {
  width: 100px;
  position: absolute;
  bottom: 55px;
  right: 0;
  border-radius: 4px;
  border: 1px solid #007ac1;
  padding: 5px 10px;
  background: #fff;
}
.xlist:before {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 8px;
  border: 10px solid transparent;
  border-top: 10px solid #FFF;
  z-index: 2;
}
.xlist:after {
  content: '';
  position: absolute;
  bottom: -23px;
  right: 7px;
  border: 11px solid transparent;
  border-top: 11px solid #007ac1;
  z-index: 1;
}
</style>
