<template>
  <div class="xresetcss xquill">
    <div class="xeditor">
      <vue-editor
        v-model.trim="content"
        :editor-toolbar="customToolbar"
        :data-vv-name="keyName"
        :data-vv-as="nameAs"
        v-validate="validateRules"
        @text-change="textChange"
        useCustomImageHandler
        @image-added="handleImageAdded"
      />
    </div>
    <div class="xpreview _preview" v-html="htmlContent" v-if="preview"></div>
  </div>
</template>
<script>
import { VueEditor, Quill } from 'vue2-editor'
import Xaxios from '@class/Xaxios'
import * as loadImage from 'blueimp-load-image'
// Quillがサニタイズしてくれるみたい
// import sanitizeHTML from 'sanitize-html'
// https://github.com/davidroyer/vue2-editor/blob/master/src/helpers/fullToolbar.js

export default {
  inject: ['$validator'],
  props: {
    change: { type: Function, required: true },
    defaultValue: { type: String, required: false, default: null },
    keyName: { type: String, required: false },
    nameAs: { type: String, required: false },
    validateRules: { type: String, required: false },
    preview: { type: Boolean, default: false }
  },
  data() {
    return {
      content: '',
      customToolbar: [
        [
          { header: [false, 2, 3] },
          'bold',
          { list: 'ordered' }, { list: 'bullet' },
          'link', 'blockquote', 'code-block', 'image'
        ]
      ]
    }
  },
  components: { VueEditor },
  computed: {
    htmlContent () {
      return this.content
      // return sanitizeHTML(this.content)
    }
  },
  created() {
  },
  mounted() {
    this.content = this.defaultValue
  },
  watch: {
    defaultValue: function(val) {
      this.content = val
    }
  },
  methods: {
    textChange(delta, oldDelta, source) {
      this.change(this.content)
    },
    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      const type = file.type
      loadImage.parseMetaData(file, function (data) {
        const options = {
          maxWidth: 1024,
          maxHeight: 1024,
          canvas: true
        }
        if (data.exif) options.orientation = data.exif.get('Orientation')
        loadImage(file, (canvas) => {
          canvas.toBlob((blob) => {
            const success = (data) => {
              Editor.insertEmbed(cursorLocation, 'image', data.url)
              resetUploader()
            }
            const error = (res) => {
              console.error(res)
              alert('アップロードに失敗しました')
            }
            Xaxios.postContents('/api/contents/image', blob, { success, error })
          }, type, 0.5)
        }, options)
      })

      // const maxWidth = 1024
      // const maxHeight = 512
      // const type = file.type
      // const image = new Image()
      // image.onload = () => {
      //   const canvas = document.createElement('canvas')
      //   // canvas.width = (image.width > maxWidth) ? maxWidth : image.width
      //   // canvas.height = (image.width > maxWidth) ? image.height * (maxWidth / image.width) : image.height
      //   // canvas.getContext('2d').drawImage(image, 0, 0, canvas.width, canvas.height)

      //   let ratio = image.height / image.width
      //   if (image.width > image.height) {
      //     canvas.width = maxWidth
      //     canvas.height = maxWidth * ratio
      //   } else {
      //     ratio = image.width / image.height
      //     canvas.width = maxHeight * ratio
      //     canvas.height = maxHeight
      //   }
      //   canvas.getContext('2d').drawImage(image, 0, 0, image.width, image.height, 0, 0, canvas.width, canvas.height)

      //   canvas.toBlob((blob) => {
      //     const success = (data) => {
      //       Editor.insertEmbed(cursorLocation, 'image', data.url)
      //       resetUploader()
      //     }
      //     const error = (res) => {
      //       console.error(res)
      //       alert('アップロードに失敗しました')
      //     }
      //     Xaxios.postContents('/api/contents/image', blob, { success, error })
      //   }, type, 0.5)
      // }
      // image.src = URL.createObjectURL(file)
    }
  }
}
</script>
