<template>
<div class="xsettings_menu">
  <ul class="row">
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/profile" :class="{ xcurrent: pageId === 'profile' }">プロフィール設定</router-link></li>
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/email" :class="{ xcurrent: pageId === 'email' }">メールアドレス変更</router-link></li>
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/password" :class="{ xcurrent: pageId === 'password' }">パスワード変更</router-link></li>
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/notification" :class="{ xcurrent: pageId === 'notification' }">通知設定</router-link></li>
    <!--
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/social" :class="{ xcurrent: pageId === 'social' }">外部連携</router-link></li>
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/two-authentication" :class="{ xcurrent: pageId === 'two-authentication' }">二段階認証</router-link></li>
    -->
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/column-input" :class="{ xcurrent: pageId === 'column-input' }">コラム登録</router-link></li>
    <li class="col-xs-6 col-sm-12"><router-link to="/settings/column-list" :class="{ xcurrent: pageId === 'column-list' }">コラム一覧</router-link></li>
  </ul>
</div>
</template>

<script>
export default {
  data() {
    return {
      pageId: ''
    }
  },
  created() {
    this.pageId = this.$router.currentRoute.name
  },
  watch: {
    $route (val) {
      this.pageId = val.name
    }
  }
}
</script>

<style scoped>
.xcurrent {
  font-weight: bold;
}
</style>

