main {
  .xhome {
    padding: 20px 5px;
  }

  .xsearch {
    padding: 15px 5px;

    h1 {
      font-size: $font_size_big_title;
      text-align: center;
      margin: 5px 0 15px;
      line-height: 1;

      span {
        font-size: $font_size_xs;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

  .xvideo {
    padding: 20px 0 0;

    .xmain {
      padding: 10px;
      background: $background_color_white;
    }

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .xrecommends {
      margin-top: 30px;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 10px;
      }
    }

    .xcomment {
      margin-bottom: 10px;
    }
  }
}
