@media #{$rb_pc} {
main {
  .xhome {
    padding: 15px 0;
  }

  .xsearch {
    padding: 15px 0;

    h1 {
      text-align: left;
    }
  }

  .xvideo {
    padding: 15px 0;

    .xmain {
      background: $background_color_white;
    }
  }
}
}
