<template>
<div class="xwrap">
  <header>
    <h1><a href="/" class="xlogo">YASUNORI</a></h1>
    <ul>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </header>
  <div class="xbody">
    <div class="xside">
      <ul class="row">
        <li class="col-xs-6 col-sm-12"><router-link to="/videos" :class="{ xcurrent: pageId === 'videos' }">動画一覧</router-link></li>
        <li class="col-xs-6 col-sm-12"><router-link to="/video/input" :class="{ xcurrent: ['video-input', 'video-edit'].find(item => item === pageId) }">動画登録</router-link></li>
        <li class="col-xs-6 col-sm-12"><router-link to="/sites" :class="{ xcurrent: ['sites', 'home', 'site-videos'].find(item => item === pageId) }">サイト一覧</router-link></li>
        <li class="col-xs-6 col-sm-12"><router-link to="/site/input" :class="{ xcurrent: pageId === 'site-input' }">サイト登録</router-link></li>
        <li class="col-xs-6 col-sm-12"><router-link to="/tags" :class="{ xcurrent: pageId === 'tags' }">タグ管理</router-link></li>
      </ul>
    </div>
    <div class="xmain"><router-view /></div>
    <div class="xpage_loading" v-if="isPageLoading"><span>Now Loading...</span></div>
  </div>
  <footer>
    <ul>
      <li><a href="/">XXXX</a></li>
      <li><a href="/">XXXX</a></li>
    </ul>
    <p class="xc">(C)2020 yasunori</p>
  </footer>
</div>
</template>

<script>
import { appMixin } from '../modules/app'

export default {
  mixins: [appMixin],
  components: { },
  data () {
    return {
      pageId: ''
    }
  },
  // computed: {
  //   pageId () {
  //     return this.$router.currentRoute.name
  //   }
  // },
  computed: {},
  created () {
    this.fetchCurrentUser()
    this.pageId = this.$router.currentRoute.name
  },
  mounted () {
    this.setIsPageLoading(false)
  },
  watch: {
    $route (val) {
      this.pageId = val.name
    }
  },
  methods: { }
}
</script>
