<template>
<div class="xform">
  <h2>サイト登録</h2>
  <div class="xloading" v-if="isFetching"><span>Now Loading...</span></div>
  <form ref="form" @submit.prevent>
    <div class="xrow">
      <label>ドメイン<i class="xrequired"></i></label>
      <input type="text" name="domain" class="form-control" v-model.trim="form.domain" placeholder="abcd.com" data-vv-as="ドメイン" v-validate="'required'" />
      <p v-show="errors.has('domain')" class="xerrors">{{errors.first('domain')}}</p>
    </div>
    <div class="xrow">
      <label>サイト名<i class="xrequired"></i></label>
      <input type="text" name="name" class="form-control" v-model.trim="form.name" data-vv-as="サイト名" v-validate="'required'" />
      <p v-show="errors.has('name')" class="xerrors">{{errors.first('name')}}</p>
    </div>
    <div class="xrow">
      <label>サイト名（カナ）</label>
      <input type="text" name="kana" class="form-control" v-model.trim="form.kana" data-vv-as="サイト名（カナ）" v-validate="''" />
      <p v-show="errors.has('kana')" class="xerrors">{{errors.first('kana')}}</p>
      <p class="xnote">サイト名が英語の場合、日本語訳を入れるとSEOに効果的</p>
    </div>
    <div class="xrow">
      <label>サイト名（コピー）<i class="xrequired"></i></label>
      <input type="text" name="copy" class="form-control" v-model.trim="form.copy" data-vv-as="サイト名（コピー）" v-validate="'required'" />
      <p v-show="errors.has('copy')" class="xerrors">{{errors.first('copy')}}</p>
      <p class="xnote">タイトルタグ内、パイプの後ろにつくコピー文言</p>
    </div>
    <div class="xrow">
      <label>説明文</label>
      <input type="text" name="description" class="form-control" v-model.trim="form.description" data-vv-as="説明文" v-validate="''" />
      <p v-show="errors.has('description')" class="xerrors">{{errors.first('description')}}</p>
    </div>
    <div class="xrow">
      <label>キーワード</label>
      <input type="text" name="keywords" class="form-control" v-model.trim="form.keywords" placeholder="AAA,BBB,CCC" data-vv-as="キーワード" v-validate="''" />
      <p v-show="errors.has('keywords')" class="xerrors">{{errors.first('keywords')}}</p>
    </div>
    <div class="xrow">
      <label>アイキャッチ</label>
      <ImageUpload :defaultImageUrl="form.eyecatch" :success="uploadSuccess" :onDelete="onDelete" />
    </div>
    <div class="xrow">
      <label>テーマ</label>
      <v-select
        v-model="form.theme"
        placeholder="サイトテーマを選んでください"
        label="name"
        :clearable="false"
        :reduce="v => v.id"
        :options="themes"
      ></v-select>
      <p v-show="errors.has('theme')" class="xerrors">{{errors.first('theme')}}</p>
    </div>
    <div class="xrow">
      <label>スクリプト</label>
      <textarea name="script" class="form-control" v-model.trim="form.script" data-vv-as="スクリプト" v-validate="''"></textarea>
    </div>
    <div class="xrow xcheck">
      <input type="checkbox" id="check_status" value="1" v-model="form.status">
      <label for="check_status">公開する</label>
    </div>
    <div class="xsubmit">
      <input type="submit" value="保存する" class="btn btn-primary" v-on:click="save" v-bind:disabled="errors.any() || isSaveing">
    </div>
  </form>
  <p class="xdelete" v-if="isEdit"><a href v-on:click.prevent="onDeleteSite">削除</a></p>
</div>
</template>

<script>
import vSelect from 'vue-select'
import { siteInputMixin } from '../modules/site-input'
import ImageUpload from '@common_components/ImageUpload'
import 'vue-select/dist/vue-select.css'

export default {
  mixins: [siteInputMixin],
  components: { vSelect, ImageUpload },
  created() {
    const siteSeq = this.$route.params.seq
    this.initForm()
    if (siteSeq) this.fetchSite({ siteSeq })
    this.fetchThemes()
  },
  methods: {
    onDeleteSite () {
      if (!window.confirm('サイトを削除してもよろしいですか？')) return
      const complete = () => {
        this.$router.replace('/sites')
      }
      this.deleteSite({ complete })
    },
    uploadSuccess (data) {
      this.updateEyecatch(data.urlpath)
    },
    onDelete () {
      this.updateEyecatch(null)
    },
    save () {
      this.$validator.validateAll().then((result) => {
        if (!result) return
        const complete = (data) => {
          this.$router.replace('/sites')
        }
        this.saveSite({ complete })
      })
    }
  }
}
</script>

<style scoped>
.xdelete {
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}
.xdelete a {
  padding: 5px;
}
</style>

