<template>
<div class="xsite_videos">
  <div class="xtitle">
    <h2>「{{ site.name }}」動画管理</h2>
    <div>
      <button class="btn btn-link" v-on:click="onBach">戻す</button>
      <button class="btn btn-link" v-on:click="onDelete">全て削除</button>
      <button class="btn btn-link" v-on:click="onRealSync">リアル同期</button>
      <button class="btn btn-link" v-on:click="onAnimeSync">アニメ同期</button>
      <button class="btn btn-link" v-on:click="onSync">全同期</button>
    </div>
  </div>
  <ul class="xitems" v-if="videos.length">
    <li class="xitem xform" v-for="(item, index) in videos" :key="index">
      <div class="xrow">
        <div class="xfirst_label">
          <label>タイトル<i class="xrequired"></i></label>
          <a href v-on:click.prevent="onToggleItem(index)">{{ toggleTitle(item.isShow) }}</a>
        </div>
        <input type="text" class="form-control" v-model.trim="item.title" @blur="onOut(index)" />
      </div>
      <div v-if="item.isShow">
        <div class="xrow">
          <a :href="item.url" target=”_blank”>動画を確認する</a>
        </div>
        <div class="xrow">
          <label>説明文</label>
          <input type="text" class="form-control" v-model.trim="item.description" @blur="onOut(index)" />
        </div>
        <div class="xrow">
          <label>キーワード</label>
          <input type="text" class="form-control" v-model.trim="item.keywords" placeholder="AAA,BBB,CCC" @blur="onOut(index)" />
        </div>
        <div class="xrow">
          <label>コメント</label>
          <textarea name="comment" class="form-control" v-model.trim="item.comment" @blur="onOut(index)"></textarea>
        </div>
        <div class="xrow">
          <div class="row">
            <div class="col-xs-4">
              <label>再生回数</label>
              <input type="number" name="play_count" class="form-control" v-model.trim="item.playCount" @blur="onOut(index)"/>
            </div>
            <div class="col-xs-4">
              <label>GOOD数</label>
              <input type="number" name="good_count" class="form-control" v-model.trim="item.goodCount" @blur="onOut(index)" />
            </div>
            <div class="col-xs-4">
              <label>BAD数</label>
              <input type="number" name="bad_count" class="form-control" v-model.trim="item.badCount" @blur="onOut(index)" />
            </div>
          </div>
        </div>
        <div class="xrow xcheck">
          <input type="checkbox" id="check_done" true-value="1" false-value="0" v-model="item.done" @change="onOut(index)" >
          <label for="check_done">作業完了</label>
        </div>
      </div>
    </li>
  </ul>
  <p v-if="isFetching">NowLoading...</p>
  <p class="xnodata" v-if="!videos.length && !isFetching">動画がありません</p>
</div>
</template>

<script>
import { siteVideosMixin } from '../modules/site-videos'

export default {
  mixins: [siteVideosMixin],
  components: { },
  computed: {

  },
  created() {
    const siteSeq = this.$route.params.seq
    const params = { s: siteSeq }
    this.fetchSite(siteSeq)
    this.fetchVideos(params)
  },
  mounted() {},
  methods: {
    toggleTitle (isShow) {
      return isShow ? '閉じる' : '開く'
    },
    onBach () {
      if (!window.confirm('同期を一つ前の状態に戻します。よろしいですか？')) return
    },
    onDelete () {
      if (!window.confirm('サイト内動画を全て削除します。よろしいですか？')) return
      this.deleteVideos()
    },
    onRealSync () {
      if (!window.confirm('最新の「リアル動画」を取得します。よろしいですか？')) return
      // this.syncVideos()
    },
    onAnimeSync () {
      if (!window.confirm('最新の「アニメ動画」を取得します。よろしいですか？')) return
      // this.syncVideos()
    },
    onSync () {
      if (!window.confirm('全ての動画を取得します。よろしいですか？')) return
      this.syncVideos()
    },
    onOut (index) {
      this.saveVideo(index)
    },
    onToggleItem (index) {
      this.toggleItem(index)
    }
  }
}
</script>
