<template>
<div class="xsites">
  <h2>サイト一覧</h2>
  <ul class="xitems" v-if="sites.length">
    <a :href="`/site/input/${item.seq}`" class="xitem" v-for="(item, index) in sites" :key="index">
      <h2>{{ item.name }}</h2>
      <object><a :href="`/site/videos/${item.seq}`">動画管理</a></object>
    </a>
  </ul>
  <p class="xnodata" v-if="!sites.length && !isFetching">サイトがありません</p>
</div>
</template>

<script>
import { sitesMixin } from '../modules/sites'

export default {
  mixins: [sitesMixin],
  components: { },
  computed: {
    // currentUser () {
    //   return this.$store.state.app.currentUser
    // }
  },
  created() {
    const params = {}
    this.fetchSites(params)
  },
  mounted() {},
  methods: {
    save() {

    }
  }
}
</script>
