<template>
<div class="xtags">
  <div class="row">
    <h2 class="col-xs-6">タグ管理</h2>
    <a href class="col-xs-6" v-on:click.prevent="onAdd">追加する</a>
  </div>
  <ul class="xitems" v-if="tags.length">
    <li class="xitem" v-for="(item, index) in tags" :key="index">
      <div class="xrow">
        <label v-if="index === 0">タグ名</label>
        <input type="text" name="name" class="form-control" v-model.trim="item.name" @blur="onOut(index)" />
      </div>
      <div class="xrow">
        <label v-if="index === 0">かな（ソート用）</label>
        <input type="text" name="kana" class="form-control" v-model.trim="item.kana" @blur="onOut(index)" />
      </div>
      <div class="xrow">
        <label v-if="index === 0">おすすめ</label>
        <div><input type="checkbox" true-value="1" false-value="0" v-model="item.recommend" @change="onOut(index)"></div>
      </div>
      <a class="xdelete" v-on:click.prevent="onDeleteTag(index, item.seq)">削除</a>
    </li>
  </ul>
</div>
</template>

<script>
import { tagsMixin } from '../modules/tags'

export default {
  mixins: [tagsMixin],
  components: { },
  computed: {
    // currentUser () {
    //   return this.$store.state.app.currentUser
    // }
  },
  created() {
    const params = {}
    this.fetchTags(params)
  },
  mounted() {},
  methods: {
    onDeleteTag (index, tagSeq) {
      if (!window.confirm('タグを削除してもよろしいですか？')) return
      this.deleteTag({ index, tagSeq })
    },
    onAdd () {
      this.addTag()
    },
    // TODO: 画面リロードでも更新できるようにする
    onOut (index) {
      this.saveTag(index)
    }
  }
}
</script>
