<template>
<div class="xform">
  <h2>動画登録</h2>
  <div class="xloading" v-if="isFetching"><span>Now Loading...</span></div>
  <form ref="form" @submit.prevent>
    <div class="xrow">
      <label>ID</label>
      <input type="text" name="id" class="form-control" v-model.trim="form.id" data-vv-as="ID" v-validate="''" />
      <p v-show="errors.has('id')" class="xerrors">{{errors.first('id')}}</p>
      <p class="xnote">URLに使われます</p>
    </div>
    <div class="xrow">
      <label>タイトル<i class="xrequired"></i></label>
      <input type="text" name="title" class="form-control" v-model.trim="form.title" data-vv-as="タイトル" v-validate="'required'" />
      <p v-show="errors.has('title')" class="xerrors">{{errors.first('title')}}</p>
    </div>
    <div class="xrow">
      <label>説明文</label>
      <input type="text" name="description" class="form-control" v-model.trim="form.description" data-vv-as="説明文" v-validate="''" />
      <p v-show="errors.has('description')" class="xerrors">{{errors.first('description')}}</p>
    </div>
    <div class="xrow">
      <label>キーワード</label>
      <input type="text" name="keywords" class="form-control" v-model.trim="form.keywords" placeholder="AAA,BBB,CCC" data-vv-as="キーワード" v-validate="''" />
      <p v-show="errors.has('keywords')" class="xerrors">{{errors.first('keywords')}}</p>
    </div>
    <div class="xrow">
      <label>URL<i class="xrequired"></i></label>
      <input type="text" name="url" class="form-control" v-model.trim="form.url" data-vv-as="URL" v-validate="'required'" />
      <p v-show="errors.has('url')" class="xerrors">{{errors.first('url')}}</p>
    </div>
    <div class="xrow">
      <label>アイキャッチ</label>
      <ImageUpload :defaultImageUrl="form.eyecatch" :success="uploadSuccess" :onDelete="onDelete" />
    </div>
    <div class="xrow">
      <label>コメント</label>
      <textarea name="comment" class="form-control" v-model.trim="form.comment" data-vv-as="コメント" rows="4" v-validate="''"></textarea>
    </div>
    <div class="xrow">
      <div class="row">
        <div class="col-xs-4">
          <label>再生回数</label>
          <input type="number" name="play_count" class="form-control" v-model.trim="form.playCount" data-vv-as="再生回数" v-validate="''" />
        </div>
        <div class="col-xs-4">
          <label>GOOD数</label>
          <input type="number" name="good_count" class="form-control" v-model.trim="form.goodCount" data-vv-as="GOOD数" v-validate="''" />
        </div>
        <div class="col-xs-4">
          <label>BAD数</label>
          <input type="number" name="bad_count" class="form-control" v-model.trim="form.badCount" data-vv-as="BAD数" v-validate="''" />
        </div>
      </div>
    </div>
    <div class="xrow">
      <label>タグ</label>
      <v-select
        v-model="form.tags"
        placeholder="タグを選択してください"
        label="name"
        :reduce="v => v.seq"
        :options="tags"
        multiple
      ></v-select>
      <p v-show="errors.has('tags')" class="xerrors">{{errors.first('tags')}}</p>
    </div>
    <div class="xrow xcheck">
      <input type="checkbox" id="check_status" value="1" v-model="form.status">
      <label for="check_status">公開する</label>
    </div>
    <div class="xsubmit">
      <input type="submit" value="保存する" class="btn btn-primary" v-on:click="save" v-bind:disabled="errors.any() || isSaveing">
    </div>
  </form>
  <p class="xdelete" v-if="isEdit"><a href v-on:click.prevent="onDeleteVideo">削除</a></p>
</div>
</template>

<script>
import vSelect from 'vue-select'
import { videoInputMixin } from '../modules/video-input'
import ImageUpload from '@common_components/ImageUpload'
import 'vue-select/dist/vue-select.css'

export default {
  mixins: [videoInputMixin],
  components: { vSelect, ImageUpload },
  created() {
    const videoSeq = this.$route.params.seq
    this.initForm()
    if (videoSeq) this.fetchVideo({ videoSeq })
    this.fetchTags()
  },
  methods: {
    onDeleteVideo () {
      if (!window.confirm('動画を削除してもよろしいですか？')) return
      const complete = () => {
        this.$router.replace('/videos')
      }
      this.deleteVideo({ complete })
    },
    uploadSuccess (data) {
      this.updateEyecatch(data.urlpath)
    },
    onDelete () {
      this.updateEyecatch(null)
    },
    save () {
      this.$validator.validateAll().then((result) => {
        if (!result) return
        const complete = (data) => {
          this.$router.replace('/videos')
        }
        this.saveVideo({ complete })
      })
    }
  }
}
</script>

<style scoped>
.xdelete {
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}
.xdelete a {
  padding: 5px;
}
</style>

