<template>
<div class="xvideos">
  <h2>動画一覧</h2>
  <ul class="xitems" v-if="videos.length">
    <a :href="`/video/input/${item.seq}`" class="xitem" v-for="(item, index) in videos" :key="index">
      <h2>{{ item.title }}</h2>
    </a>
  </ul>
  <p class="xnodata" v-if="!videos.length && !isFetching">動画がありません</p>
</div>
</template>

<script>
import { videosMixin } from '../modules/videos'

export default {
  mixins: [videosMixin],
  components: {},
  computed: {},
  created() {
    const params = {}
    this.fetchVideos(params)
  },
  mounted() {},
  methods: {}
}
</script>
