main {
  .xlogin {
    max-width: $min_contents_width;
    margin: 0 auto;
    padding: 15px 10px 30px;

    h1 {
      margin-bottom: 20px;
      margin: 0 0 15px;
      font-size: 22px;
    }

    .xsubmit {
      .btn {
        width: 100%;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
      }
    }
  }
}
